.offersContainer{
    min-height: 60vh;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    padding: 4rem 1rem;
    .title{
        font-size: 3rem;
    }
    .offers{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
        gap: 2rem;
        margin-top: 2rem;
        .offer{
            max-width: 350px;
            width: 100%;
            background-color: #fff;
            min-height: 350px;
            text-align: center;
            .offerImage{
                width: 100%;
                height: 200px;
                border-radius: 20px 20px 0 0;
                position: relative;
                overflow: hidden;
                
            }
            .content{
                margin-top: 30px;
                .offerType{
                    font-size:22px;
                    font-weight: 500;
                }
                .details{
                    margin-top:18px;
                    display: flex;
                    column-gap: 5px;
                    justify-content: center;
                    span{
                        font-size: 17px;
                        color: #C7C7C7;                        ;
                    }
                    .offerPower{
                        color: #57EF4A;
                    }
                }
                .btnContinue{
                    width: 270px;
                    height: 45px;
                    margin-top: 2rem;
                    border-radius: 40px;
                    font-size: 24px;
                    font-weight: 500;
                    color: #fff;
                    border: none;
                    outline: none;
                    background: #FFB300;
                    cursor: pointer;
                }
            }
        }
    }
}